{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
      <div class="row m-0">
          <div class="col-sm-6">
              <div class="page-header float-left">
                  <div class="page-title">
                     <h1>{{ facility.name }}</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="content">
    <div class="card rounded">
        {% if facility.image %}
            <img class="card-img-top" src="{{ facility.image.url }}" alt="{{ facility.name }} image" style="height: 200px; max-width: 100%;">
            {% else %}
            <img class="card-img-top" src="{% static 'facilities/images/default.jpg' %}" alt="No image available" style="height: 250px; max-width: 100%;">
            {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Please complete the form Below to book {{ facility.name }}</strong>
                </div>
                <div class="card-body">
                    <div class="p-3">
                        <form method="POST">
                          {{ form.media }}
                          {% csrf_token %}
                          <input type="hidden" name="facility" value="{{ facility_id }}">
                          <div class="form-group">
                            {{ form.purpose.label_tag }}
                            {{ form.purpose }}
                            {{ form.purpose.errors }}
                          </div>
                          <div class="form-group">
                            {{ form.date.label_tag }}
                            {{ form.date }}
                            {{ form.date.errors }}
                          </div>
                          <div class="form-group">
                            {{ form.start_time.label_tag }}
                            {{ form.start_time }}
                            {{ form.start_time.errors }}
                          </div>
                          <div class="form-group">
                            {{ form.end_time.label_tag }}
                            {{ form.end_time }}
                            {{ form.end_time.errors }}
                          </div>
                          <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Book {{facility.name}}</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        {% if bookings %}
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-header alert alert-primary text-center" role="alert">
                <strong class="card-title text-danger">The {{ facility.name }} is booked in this Times !!</strong>
            </div>
            <div class="card-body text-center">
                <div class="p-3">
                    <ul class="list-group list-group-flush">
                        {% for booking in bookings %}
                            <li class="list-group-item">{{ booking.date }} - {{ booking.start_time|time:"H:i" }} to {{ booking.end_time|time:"H:i" }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}

      
</div>
{% endblock content %}
