{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
      <div class="row m-0">
          <div class="col-sm-6">
              <div class="page-header float-left">
                  <div class="page-title">
                     <h1>{{ facility.name }}</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="facility" value="{{ facility_id }}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Book Facility</button>
      </form>
      
</div>
{% endblock content %}
