{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Assignment: {{ task.name }}</h1>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="page-header float-right">
                    <div class="page-title">
                        <form method="post" action="{% url 'tasks:task_status_update' pk=object.pk %}" class="form-inline">
                            {% csrf_token %}
                            <div class="form-group">
                              {{ form.status }}
                            </div>
                            <div class="form-group ml-2">
                              <button type="submit" class="btn btn-outline-secondary">Update Status</button>
                            </div>
                          </form>
                          
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="content">
    <div class="col-lg-12">
        <div class="card text-center">
            <div class="card-header">
                {% if task.document %}
                <iframe src="{{ task.document.url }}" width="100%" height="600"></iframe>
            {% else %}
                <p>This task has no file document associated with it</p>
            {% endif %}
            
            </div>
           <div class="card-body">
            <p>{{ task.description }}</p>
           </div>
           <div class="card-footer">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <p>
                        The priority of this assignment is {{ task.get_priority_display }}
                    </p>
                  </div>
                  <div class="col">
                   <p>
                    Assignment status: {{ task.get_status_display }}
                   </p>
                  </div>
                  <div class="col">
                    <p>Assignment due date: {{ task.due_date }}</p>
                  </div>
                </div>
                <!-- <div class="alert alert-primary" role="alert">
                    {{ due_message }}
                  </div>
              </div> -->

           </div>
        </div>
    </div><!-- /# column -->
    {% if not assignment.accepted and not assignment.rejection_reason %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Do you accept or reject the Task ?</strong></h5>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'tasks:accept_task' task.pk %}" class="btn btn-success btn-block">Accept</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'tasks:reject_task' task.pk %}" class="btn btn-danger btn-block">Reject</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    
    
</div>

{% endblock content %}
